@*
    Some info
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>About Us</title>

</head>
<body>
    <h2>About Us page</h2>
</body>
</html>
